<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-cockpit (serverCreated)="OnserverAdded($event)" (blueprintCreated)="OnBlueprintAdded($event)"></app-cockpit>
      <app-server-element *ngFor="let i of serverElements" [srvElement]="i"></app-server-element>
    </div>
  </div>
</div>