<app-header (featureSelected) = onNavigate($event)></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-cockpit (serverCreated)="OnserverAdded($event)" (blueprintCreated)="OnBlueprintAdded($event)"></app-cockpit>
      <app-server-element *ngFor="let i of serverElements" [srvElement]="i"></app-server-element>
      <p appBasicHighlight>Style with basic custom directive</p>
      <br>
      <p appBetterHighlight>Style with basic custom directive</p>
    </div>
    <form (ngSubmit)="onSubmit()" #f=ngForm >
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value="John" ngModel><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" value="Doe" ngModel><br><br>
      <button type="submit">Submit</button>
    </form> 
    <br><br>
    <div *ngIf = "submitted">
    <h3>Submitted Details</h3>
    <p>First Name: {{ userData.first }}</p>
    <p>Last Name: {{ userData.last }}</p>
    </div>
    
  </div>
</div>
