<app-header (featureSelected) = onNavigate($event)></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'" ></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-cockpit (serverCreated)="OnserverAdded($event)" (blueprintCreated)="OnBlueprintAdded($event)"></app-cockpit>
      <app-server-element *ngFor="let i of serverElements" [srvElement]="i"></app-server-element>
      <p appBasicHighlight>Style with basic custom directive</p>
      <br>
      <p appBetterHighlight>Style with basic custom directive</p>
    </div>
  </div>
</div>
